<!DOCTYPE html>
<html>
  <head>
    <style>
    body {
      background: <%= color %>;
    }
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      Your guess was <%= user_guess %>.
      <%= message %>
    </p>
    <form>
      <input type="text" name="guess">
      <input type="submit" value="Guess!">
    </form>
  </body>
</html>
